/* Estilos generales */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fce4ec;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #e91e63;
    font-size: 24px;
    margin-bottom: 20px;
}

#yesBtn, #noBtn {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border: 2px solid #FFC0CB;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

#yesBtn {
    background-color: #4CAF50;
    color: white;
}

#yesBtn:hover {
    background-color: #45a049;
}

#noBtn {
    background-color: #FF5733;
}

#noBtn span {
    font-size: 18px;
    color: #fcf4f4;
}

/* Estilos del modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.modal-content h2 {
    color: #e91e63;
    font-size: 24px;
    margin-bottom: 10px;
}

.modal-content p {
    color: #333;
    font-size: 18px;
    margin-bottom: 20px;
}

.modal-content img {
    margin-bottom: 20px;
}

.modal-content button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e91e63;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-content button:hover {
    background-color: #c2185b;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    color: #aaa;
    cursor: pointer;
}

.close:hover {
    color: #333;
}